body{
    font-family:"Roboto";
}

.nav{
    background-color: #050a27;
}

.nav-link {
    margin-top: 15px;
    color: white;
}

.judul{
    text-align: center;
}

nav a:hover{
    color:#475cFd ;
}

