body{
    font-family:"Roboto";
}

.nav{
    background-color: #050a27;
}

.nav-link {
    margin-top: 15px;
    color: white;
    font-weight: 700;
}

.judul{
    text-align: center;
}

nav a:hover{
    color:#475cFd ;
}

nav h5{
    font-weight: 700;
}

.card-header{
    font-weight: 700;
    color: white;
    text-align: center;
}

